#header {
  padding: 0 2em;
  background-color: #eee;
  h1, h2, h3, h4 {
    margin-bottom: 0;
  }
}

#mainContent {
  padding: 0 1em;
  ul {
    margin-left: 2em;
    .title {
      font-size: 1.4em;
      font-weight: normal;
    }
  }
}