@import "compass/css3/box-shadow";

#nav {
  margin-bottom: 0 !important;
}

#header {
  margin: 0 1em 1em 1em;
  padding: 0 0.8em;
  @include box-shadow(0 3px 3px rgba(#ccc, 0.7));

  h1, h2, h3 {
    margin-bottom: 0;
  }
  h4 {
  }
}

#mainContent {
  padding: 0 1em;
  ul {
    margin-left: 2em;
    .title {
      font-size: 1.4em;
      font-weight: normal;
    }
  }
}