
<div id="footer">
  <div class="row">
    <div class="medium-12 columns">
      <hr />
      <div class="row">
        <div class="medium-4 columns">
          <p>&nbsp;</p>
        </div>
        <div class="medium-8 columns">
          <ul class="inline-list right">
            <li><a href="http://eolclub.org">EOL Club</a></li>
            <li><a href="https://twitter.com/PVDTechEvents">Providence Tech Events</a></li>
            <li><a href="http://www.providencegeeks.org/">Providence Geeks</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/rirug.js"></script>
  <script>
    $(document).foundation();
  </script>

</body>
</html>
