<div id="footer" class="container">

    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>RIRUG</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="http://www.rinexus.com/">RI Nexus</a></li>
          </ul>
        </div>
      </div>
    </div>

</div>


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/javascripts/vendor/zepto' : '/javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="/javascripts/foundation/foundation.js"></script>
  
  <script src="/javascripts/foundation/foundation.alerts.js"></script>
  
  <script src="/javascripts/foundation/foundation.clearing.js"></script>
  
  <script src="/javascripts/foundation/foundation.cookie.js"></script>
  
  <script src="/javascripts/foundation/foundation.dropdown.js"></script>
  
  <script src="/javascripts/foundation/foundation.forms.js"></script>
  
  <script src="/javascripts/foundation/foundation.joyride.js"></script>
  
  <script src="/javascripts/foundation/foundation.magellan.js"></script>
  
  <script src="/javascripts/foundation/foundation.orbit.js"></script>
  
  <script src="/javascripts/foundation/foundation.placeholder.js"></script>
  
  <script src="/javascripts/foundation/foundation.reveal.js"></script>
  
  <script src="/javascripts/foundation/foundation.section.js"></script>
  
  <script src="/javascripts/foundation/foundation.tooltips.js"></script>
  
  <script src="/javascripts/foundation/foundation.topbar.js"></script>
  
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
