<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/rirug.css">

  <script src="/javascripts/vendor/custom.modernizr.js"></script>

</head>
<body>

{% include nav.html %}

<div id="header">
  <h2><span>RI Ruby Users Group</span></h2>
  <h4 class="subheader"><span>Why should Massachusetts have all the fun?</span></h4>
  <div style="clear: both;"></div>
</div>

