<div class="container top-bar" id="nav">

<ul class="title-area">
  <li class="name">
    <h1><a href="/"><img src="/assets/images/rirug_nav.gif"></a></h1>
  </li>
  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>

  <div class="top-bar-section">
    <ul class="left">
      <li><a href="http://www.meetup.com/Rhode-Island-Ruby-Group/">Meetup group</a></li>
      <li><a href="http://groups.google.com/group/rirug">Mailing list</a></li>
      <li><a href="http://github.com/rirug">Github</a></li>
      <li><a href="http://twitter.com/rirug">Twitter</a></li>
    </ul>

    <ul class="right">
      <li><a href="/about/">About</a></li>
    </ul>
  </div>
</div>
