@import "compass/css3/box-shadow";

#nav {
  margin-bottom: 0 !important;
}

#header {
  margin: 0 1em 1em 1em;
  padding: 0;

  h1, h2, h3 {
    margin-bottom: 0;
  }
}

#mainContent {
  padding: 0 1em;
  ul {
    margin-left: 2em;
    .title {
      font-size: 1.4em;
      font-weight: normal;
    }
  }
}