/* line 3, ../_sass/rirug.scss */
#nav {
  margin-bottom: 0 !important;
}

/* line 7, ../_sass/rirug.scss */
#header {
  margin: 0 1em 1em 1em;
  padding: 0;
}
/* line 11, ../_sass/rirug.scss */
#header h1, #header h2, #header h3 {
  margin-bottom: 0;
}

/* line 16, ../_sass/rirug.scss */
#mainContent {
  padding: 0 1em;
}
/* line 18, ../_sass/rirug.scss */
#mainContent ul {
  margin-left: 2em;
}
/* line 20, ../_sass/rirug.scss */
#mainContent ul .title {
  font-size: 1.4em;
  font-weight: normal;
}
