---
layout: default
title: Ruby and Rails
---

%h2 RIRUG Ruby Install Night at Bryant University

%div.row
  %div.small-6.left
    %h4 Programming in Ruby

    %ul
      %li
        %a{:href => 'http://tryruby.org/'} TryRuby.org
      %li
        %a{:href => 'http://www.codeschool.com/paths/ruby#ruby-basics'} CodeSchool Ruby Intro

    %h4 Learning the Rails framework

    %ul
      %li
        %a{:href => 'http://railsforzombies.org/levels/1'} Rails for Zombies - CodeSchool
      %li
        %a{:href => 'http://ruby.railstutorial.org/'} Rails Tutorial - Michael Hartl

  %div.small-6.right
    %h4 Automated testing and test-driven development

    %ul
      %li 
        %a{:href => 'http://www.codeschool.com/courses/rails-testing-for-zombies'} Rails Testing for Zombies - CodeSchool

    %h4 Other helpful resources

    %ul
      %li 
        %a{:href => 'http://www.railsbridgeboston.org/'} RailsBridge Boston
      %li 
        %a{:href => 'http://railscasts.org/'} RailsCasts - Ryan Bates

%a.nice.radius.blue.button{:href => "get-involved/"} Get Involved

%h3 Thank you!

%ul
  %li Professor Potter -- for hosting the event and giving us an opportunity to share some knowledge on topics we are passionate about
  %li Jakob and Sergio -- for planting the seeds of a great idea and helping see it through
  %li Dan -- for allowing me to liberally borrow from the curriculum and ideas learned from the RailsBridge sessions

